<?xml version="1.0" encoding="utf-8"?>
<xml >
  <UserVal>1</UserVal>
  <Userpoint>3</Userpoint>
  <UserShopNum>8</UserShopNum>
</xml>                                                                                                                                                                                                                                                                                                                                               