<?xml version="1.0"?>
<SiteConfig>
  <FrontTemplateList />
  <IPLockConfig>
    <AdminLockIPBlack />
    <AdminLockIPType>0</AdminLockIPType>
    <AdminLockIPWhite />
    <LockIPBlack />
    <LockIPType>0</LockIPType>
    <LockIPWhite />
  </IPLockConfig>
  <MailConfig>
    <MailServerList>web@zoomla,cn,info@zoomla.cn</MailServerList>
    <AuthenticationType>Basic</AuthenticationType>
    <EnabledSsl>false</EnabledSsl>
    <MailFrom>web@zoomla.cn</MailFrom>
    <MailServer>mail.zoomla.cn</MailServer>
    <MailServerPassWord>password</MailServerPassWord>
    <MailServerUserName>web@zoomla.cn</MailServerUserName>
    <Port>25</Port>
  </MailConfig>
  <DeliverConfig>
    <City>上海</City>
  </DeliverConfig>
  <ShopConfig>
    <OrderNum>0</OrderNum>
    <Unit>e</Unit>
    <EnableCoupon>false</EnableCoupon>
    <EnableGuestBuy>false</EnableGuestBuy>
    <EnablePartPay>false</EnablePartPay>
    <MoneyPresentPoint>1</MoneyPresentPoint>
    <TaxRate>0</TaxRate>
    <TaxRateType>0</TaxRateType>
  </ShopConfig>
  <SiteInfo>
    <LogoAdmin>/images/admin_logo.jpg</LogoAdmin>
    <BannerUrl>images/bannaer.jpg</BannerUrl>
    <Copyright>Copyright &amp;copy; 2012 All Rights Reserved {$SiteName/} 版权所有 沪ICP备88888888号</Copyright>
    <LogoUrl>/Template/xuefu/style/images/logo.jpg</LogoUrl>
    <MetaDescription>培训服务网站,我们提供各种培训班,培训学校,培训教材,培训新闻</MetaDescription>
    <MetaKeywords>培训,培训网,培训学校</MetaKeywords>
    <SiteName>学府网</SiteName>
    <SiteTitle>学府网</SiteTitle>
    <SiteUrl>http://localhost:54</SiteUrl>
    <VirtualPath>/</VirtualPath>
    <Webmaster>站长</Webmaster>
    <WebmasterEmail>web@zoola.cn</WebmasterEmail>
  </SiteInfo>
  <SiteOption>
    <IsSaveRemoteImage>true</IsSaveRemoteImage>
    <FileRj>0</FileRj>
    <FileN>1</FileN>
    <txtDown>0</txtDown>
    <KDAPI>0</KDAPI>
    <Language>ZH-CN</Language>
    <SendTime>0001-01-01T00:00:00</SendTime>
    <OpenSendMessage>false</OpenSendMessage>
    <G_content>订单号:{m:orderno},{m:username},{m:sendTime},中国最美乡村婺源旅游8折消费,行程变更或取消请致电021-8888888</G_content>
    <G_blackList />
    <G_uid>txjly</G_uid>
    <G_eid>10640</G_eid>
    <G_pwd>830874</G_pwd>
    <G_gate_id>300</G_gate_id>
    <IsSMSNotice>false</IsSMSNotice>
    <IsEmailNotice>false</IsEmailNotice>
    <IsFlashPaper>false</IsFlashPaper>
    <Videourl>rtmp://127.0.0.1:1935/live/</Videourl>
    <freedomain>xuefu.cc</freedomain>
    <SiteManageMode>1</SiteManageMode>
    <AdvertisementDir>/AD</AdvertisementDir>
    <EnableSiteManageCode>true</EnableSiteManageCode>
    <MastMoney>0</MastMoney>
    <UrlWrite>true</UrlWrite>
    <EnableSoftKey>false</EnableSoftKey>
    <EnableHuShenHe>false</EnableHuShenHe>
    <EnableUploadFiles>true</EnableUploadFiles>
    <IsAbsoluatePath>false</IsAbsoluatePath>
    <IsZone>true</IsZone>
    <IsMall>true</IsMall>
    <ManageDir>manage</ManageDir>
    <SiteManageCode>8888</SiteManageCode>
    <TemplateDir>/Template/xuefu</TemplateDir>
    <ProjectServer>http://updata.zoomla.cn</ProjectServer>
    <ShopTemplate />
    <IndexTemplate>/全站首页.html</IndexTemplate>
    <GeneratedDirectory />
    <PdfDirectory />
    <IndexEx>0</IndexEx>
    <CssDir>/Template/xuefu/style</CssDir>
    <StylePath>global.css</StylePath>
    <UploadDir>/UploadFiles</UploadDir>
    <UploadFileExts>gif|jpg|jpeg|jpe|bmp|png|rar|flv|doc|csv|ppt|xls|docx|txt|accdb|xlsx|sql|tmp|swf</UploadFileExts>
    <UploadFileMaxSize>204800</UploadFileMaxSize>
    <UploadPicExts>gif|jpg|jpeg|jpe|bmp|png|flv|doc|ppt|xls|docx|txt|accdb|xlsx|sql</UploadPicExts>
    <UploadPicMaxSize>204800</UploadPicMaxSize>
    <UploadMdaExts>avi|rm|real|mpge|mpg|swf|flv|doc|ppt|xls|docx|txt|accdb|xlsx|sql|jpg|doc|xls</UploadMdaExts>
    <UploadMdaMaxSize>204800</UploadMdaMaxSize>
    <UploadFlhMaxSize>204800</UploadFlhMaxSize>
    <MssUser>xuefu</MssUser>
    <MssPsw>xuefu2012</MssPsw>
    <Sensitivity>臺獨,藏獨,法車侖功,臺犭蟲,藏犭蟲</Sensitivity>
    <SiteServer>0</SiteServer>
    <ServerType>Server</ServerType>
    <ServerApiUrl />
    <SiteLicense />
    <OpenLog>1</OpenLog>
    <Savadaylog>1</Savadaylog>
    <EditVer>1</EditVer>
    <Savanumlog>100</Savanumlog>
    <ContentConfig>1</ContentConfig>
    <OpenMessage>0</OpenMessage>
    <FlexKey>wer123124564578</FlexKey>
    <MoveFile>0</MoveFile>
    <JS />
    <RegPageStart>true</RegPageStart>
    <Desk>All|11111|111111|111111|1111|111|111</Desk>
    <SendNum>0</SendNum>
    <SMSTips>false</SMSTips>
    <DeleteLocal>false</DeleteLocal>
  </SiteOption>
  <ThumbsConfig>
    <AddBackColor>#EE1169</AddBackColor>
    <ThumbsHeight>130</ThumbsHeight>
    <ThumbsMode>1</ThumbsMode>
    <ThumbsWidth>99</ThumbsWidth>
  </ThumbsConfig>
  <UserConfig>
    <IntegralPercentage>0</IntegralPercentage>
    <PresentPointAll>5</PresentPointAll>
    <PresentPointTg>6</PresentPointTg>
    <AdminCheckReg>false</AdminCheckReg>
    <EmailCheckReg>false</EmailCheckReg>
    <EmailRegis>true</EmailRegis>
    <EmailTell>false</EmailTell>
    <EmailOfRegCheck>      欢迎您注册成为本站会员！&lt;br /&gt;
      验证码：{$CheckNum}&lt;br /&gt;
      请点击下面的地址，输入上面的验证码进行邮件验证。验证通过后，您就可以正式成为我们的会员，享受有关服务了！&lt;br /&gt;
      &lt;a href='{$CheckUrl}' target='_blank'&gt;{$CheckUrl}&lt;/a&gt;
    </EmailOfRegCheck>
    <EmailTellContent>      亲爱的{$UserName}:
      恭喜您成为本站正式会员，您的用户密码是：{$UserPwd}。&lt;br /&gt;
      请妥善保存。
    </EmailTellContent>
    <EnableCheckCodeOfLogin>false</EnableCheckCodeOfLogin>
    <EnableCheckCodeOfReg>false</EnableCheckCodeOfReg>
    <EnableMultiLogin>true</EnableMultiLogin>
    <EnableMultiRegPerEmail>false</EnableMultiRegPerEmail>
    <EnableQAofReg>false</EnableQAofReg>
    <EnableRegCompany>false</EnableRegCompany>
    <EnableUserReg>true</EnableUserReg>
    <GroupId>0</GroupId>
    <MoneyExchangePointByMoney>0</MoneyExchangePointByMoney>
    <MoneyExchangePointByPoint>0</MoneyExchangePointByPoint>
    <MoneyExchangeDummyPurseByMoney>0</MoneyExchangeDummyPurseByMoney>
    <MoneyExchangeDummyPurseByDummyPurse>0</MoneyExchangeDummyPurseByDummyPurse>
    <MoneyExchangeValidDayByMoney>0</MoneyExchangeValidDayByMoney>
    <MoneyExchangeValidDayByValidDay>0</MoneyExchangeValidDayByValidDay>
    <PointName>点券</PointName>
    <PointUnit>点</PointUnit>
    <PointMoney>0</PointMoney>
    <ChangeSilverCoinByExp>0</ChangeSilverCoinByExp>
    <PointSilverCoin>0</PointSilverCoin>
    <PointExp>0</PointExp>
    <PresentExp>20</PresentExp>
    <PresentExpPerLogin>0</PresentExpPerLogin>
    <PresentMoney>0</PresentMoney>
    <PresentPoint>6</PresentPoint>
    <PresentValidNum>0</PresentValidNum>
    <Integral>0</Integral>
    <PresentValidUnit>1</PresentValidUnit>
    <RegFieldsMustFill>Mobile,Province</RegFieldsMustFill>
    <RegFieldsSelectFill>TrueName,UserSex,Address,OfficePhone,Birthday</RegFieldsSelectFill>
    <UserExpExchangePointByExp>0</UserExpExchangePointByExp>
    <UserExpExchangePointByPoint>0</UserExpExchangePointByPoint>
    <UserExpExchangeValidDayByExp>0</UserExpExchangeValidDayByExp>
    <UserExpExchangeValidDayByValidDay>0</UserExpExchangeValidDayByValidDay>
    <UserGetPasswordType>1</UserGetPasswordType>
    <UserGetPasswordEmail />
    <UserNameLimit>2</UserNameLimit>
    <UserNameMax>40</UserNameMax>
    <UserNameRegDisabled>admin|administrator|system|operator|support|root|postmaster|webmaster|security</UserNameRegDisabled>
    <CommentRule>10</CommentRule>
    <InfoRule>33</InfoRule>
    <RecommandRule>30</RecommandRule>
    <LoginRule>10</LoginRule>
    <UserValidateType>true</UserValidateType>
    <MessageGroup />
    <PromotionType>0</PromotionType>
    <Promotion>0</Promotion>
    <RegRule>1,,</RegRule>
    <Agreement>0</Agreement>
    <EnableAlipayCheckReg>true</EnableAlipayCheckReg>
    <PunchType>0</PunchType>
    <PunchVal>0</PunchVal>
    <EmailRegInfo>&lt;a href="mailto:{$EMail}" target="_blank"&gt;{$EMail}&lt;/a&gt;，您好！&lt;br /&gt;
&lt;br /&gt;
&lt;br /&gt;
感谢您注册{$SiteName}，您的账号:&lt;a href="mailto:{$EMail}" target="_blank"&gt;{$EMail}&lt;/a&gt;&lt;br /&gt;
&lt;br /&gt;
点击下面的链接即可开通您的帐户：&lt;br /&gt;
&lt;br /&gt;
&lt;br /&gt;
{$ClickUrl}&lt;br /&gt;
&lt;br /&gt;
(如果链接无法点击，请将它拷贝到浏览器的地址栏中。)&lt;br /&gt;
&lt;br /&gt;
{$SiteName} &lt;a href="{$SiteUrl}" target="_blank"&gt;{$SiteUrl}&lt;/a&gt;&lt;br /&gt;</EmailRegInfo>
  </UserConfig>
  <WaterMarkConfig>
    <WaterMarkImageInfo>
      <ImagePath>skin/default/images/logo.gif</ImagePath>
      <WaterMarkPosition>WM_TOP_LEFT</WaterMarkPosition>
      <WaterMarkPositionX>0</WaterMarkPositionX>
      <WaterMarkPositionY>0</WaterMarkPositionY>
    </WaterMarkImageInfo>
    <WaterMarkTextInfo>
      <FoneBorder>1</FoneBorder>
      <FoneBorderColor>#000000</FoneBorderColor>
      <FoneColor>#1A1AE6</FoneColor>
      <FoneSize>12</FoneSize>
      <FoneStyle>Bold</FoneStyle>
      <FoneType>宋体</FoneType>
      <Text>逐浪CMS</Text>
      <WaterMarkPosition>WM_TOP_LEFT</WaterMarkPosition>
      <WaterMarkPositionX>0</WaterMarkPositionX>
      <WaterMarkPositionY>0</WaterMarkPositionY>
    </WaterMarkTextInfo>
    <WaterMarkType>1</WaterMarkType>
  </WaterMarkConfig>
  <SiteZone>
    <ZoneAuditing>false</ZoneAuditing>
    <ZoneFriendManageInfo>
      <SearchFriendMarry>false</SearchFriendMarry>
    </ZoneFriendManageInfo>
  </SiteZone>
  <QMail>
    <RegValidateTitle>欢迎你！订阅邮件信息</RegValidateTitle>
    <RegValidateContext>
      亲爱的{UserName}:

      欢迎你订阅我们网站的信息，为了确认你的邮箱，请点击下面的链接地址。


      谢谢！

      {Url}
    </RegValidateContext>
  </QMail>
  <BuyConfig />
  <BbsBasicSettingsConfig>
    <ForumName>逐浪论坛</ForumName>
    <ForumUrl>http://localhost</ForumUrl>
    <AdminEmail>web@hx008.cn</AdminEmail>
    <CompanyName>江西聚合实业有限公司</CompanyName>
    <CompanyUrl>http://www.zoomla.cn</CompanyUrl>
    <MetaDescription>描述信息</MetaDescription>
    <MetaKeywords>关键字</MetaKeywords>
    <UserOnlineTime>10</UserOnlineTime>
    <ScriptOverTime>10</ScriptOverTime>
    <ThemeSet>灰石风格</ThemeSet>
    <SiteCache>逐浪</SiteCache>
    <CacheUpdate>10</CacheUpdate>
    <CookiesPath>\</CookiesPath>
    <CookiesDomain>zoomla.cn</CookiesDomain>
    <ForumState>关闭</ForumState>
    <BBSClosed>论坛正在维护,暂时无法访问</BBSClosed>
    <AddHttp>是</AddHttp>
  </BbsBasicSettingsConfig>
  <BbsHomeShow>
    <DisplayMode />
    <ShowTag>0</ShowTag>
    <ShowOnlineUser>0</ShowOnlineUser>
    <ShowInformation>0</ShowInformation>
    <ShowBirthdayToday>0</ShowBirthdayToday>
    <ShowLink>0</ShowLink>
    <ShowChildren>0</ShowChildren>
    <BestOnline>247</BestOnline>
    <BestOnlineTime>2010-02-02T10:06:10.671875+08:00</BestOnlineTime>
  </BbsHomeShow>
  <BbsRegister>
    <AllowLogin>0</AllowLogin>
    <AllowUserLogin>0</AllowUserLogin>
    <NewUserRegistrat>0</NewUserRegistrat>
    <NewUserLevel>信任用户</NewUserLevel>
    <UserNameMin>8</UserNameMin>
    <UserNameMax>8</UserNameMax>
    <AccountActivated>0</AccountActivated>
    <DefaultPassword>MD5</DefaultPassword>
    <EnableSignature>0</EnableSignature>
    <IndividualityMax>8</IndividualityMax>
    <MaxCapacity>100</MaxCapacity>
    <UsersGender>0</UsersGender>
    <DisplayPortraits>10</DisplayPortraits>
    <DisplayCharacter>0</DisplayCharacter>
    <UserSelectPage>0</UserSelectPage>
    <BrowseUserData>0</BrowseUserData>
    <UserList>0</UserList>
    <UsersSearch>0</UsersSearch>
    <PageShowUser>10</PageShowUser>
    <EnableHead>0</EnableHead>
    <AllowLike>0</AllowLike>
    <HeadSize>150</HeadSize>
    <EnablePopularity>0</EnablePopularity>
    <DefaultFame>10</DefaultFame>
    <DisplayPrestige>0</DisplayPrestige>
    <LeastPost>15</LeastPost>
    <Minvalue>1</Minvalue>
    <DailyPrestige>15</DailyPrestige>
    <UsersRreputation>10</UsersRreputation>
    <AdministratorPrestige>15</AdministratorPrestige>
    <PrisonReputation>10</PrisonReputation>
    <UsersDefine>0</UsersDefine>
    <UserMaxLength>100</UserMaxLength>
    <ShieldWord>admin|user|everyone</ShieldWord>
  </BbsRegister>
  <BbsForumSettings>
    <EnableRSS>0</EnableRSS>
    <OpeningTheme>0</OpeningTheme>
    <AllowTags>0</AllowTags>
    <MouseContent>0</MouseContent>
    <DefaultMode>简洁</DefaultMode>
    <DefaultThemeRSS>10</DefaultThemeRSS>
    <ThemePage>1</ThemePage>
    <PostPage>5</PostPage>
    <MinOption>5</MinOption>
    <MaxOption>1000</MaxOption>
    <DisplayBrowsingUsers>0</DisplayBrowsingUsers>
    <DisplayBrowsingTop>0</DisplayBrowsingTop>
    <DisplayModification>0</DisplayModification>
    <ForReasons>0</ForReasons>
    <TimeEdit>0</TimeEdit>
    <AllowRepeatPost>0</AllowRepeatPost>
    <IntervalTime>5</IntervalTime>
    <TimeRegister>5</TimeRegister>
    <ReplyHot>10</ReplyHot>
    <NumberHot>10</NumberHot>
    <ReTieLimit>10</ReTieLimit>
  </BbsForumSettings>
  <BbsUploadSetting>
    <ChooseUpload>关闭</ChooseUpload>
    <AnnexSaveMode>数据库</AnnexSaveMode>
    <HeadFileSize>1024</HeadFileSize>
    <SizeSingle>1024</SizeSingle>
    <SetMaxUpload>2048</SetMaxUpload>
    <UploadiAttachmentTypes>gif|jpg|png|bmp|swf|txt|mid|doc|xls|zip|rar</UploadiAttachmentTypes>
    <WatermarkImageComponents>关闭</WatermarkImageComponents>
    <WatermarkEffect>水印文字</WatermarkEffect>
    <WatermarkLevelPosition>左</WatermarkLevelPosition>
    <WatermarkVerticalPosition>中</WatermarkVerticalPosition>
    <WatermarkText>ZoomLa</WatermarkText>
    <WatermarkTextSize>1024</WatermarkTextSize>
    <Titlecolor>#22DD92</Titlecolor>
    <WatermarkTextBold>是</WatermarkTextBold>
    <WatermarkImagePath>Images/Watermark.gif</WatermarkImagePath>
  </BbsUploadSetting>
  <BbsMail>
    <SendMailComponents>关闭</SendMailComponents>
    <SendMail>web@zoomla.cn</SendMail>
    <SMTPServer>上海</SMTPServer>
    <SMTPName>f</SMTPName>
    <SMTPPWd>fffff</SMTPPWd>
  </BbsMail>
  <BbsFilterSetConfig>
    <SensitiveWord>fuck|shit</SensitiveWord>
    <ProhibitCharacters>fuck|shit</ProhibitCharacters>
    <ProhibitIPAddress>fuck|shit</ProhibitIPAddress>
  </BbsFilterSetConfig>
  <BbsCode>
    <EnableRegistration>0</EnableRegistration>
    <LogonAuthentications>0</LogonAuthentications>
    <PostOpening>0</PostOpening>
  </BbsCode>
  <BbsMoneyExperienc>
    <HairTheme>2</HairTheme>
    <Reply>2</Reply>
    <AddedEssence>4</AddedEssence>
    <ThemeDel>4</ThemeDel>
    <ReplyDel>5</ReplyDel>
    <EssenceCancel>5</EssenceCancel>
  </BbsMoneyExperienc>
  <BbsIntegratedSet>
    <AuthenticationType>None</AuthenticationType>
    <EnableIntegration>0</EnableIntegration>
    <SecurityKey>sss</SecurityKey>
    <InterfaceFileAddress>ssd|ett|ujui</InterfaceFileAddress>
  </BbsIntegratedSet>
  <BbsAdvancedSet />
  <SpaceSet>
    <templetName>聚合页</templetName>
    <home>/频道首页/商城频道首页.html</home>
    <list>/列表页/商城列表页.html</list>
    <content>/内容页/默认商城模型内容页.html</content>
    <setTime>50</setTime>
  </SpaceSet>
</SiteConfig>