<?xml version="1.0" encoding="utf-8" ?>
<RewriterConfig>
  <!--Rules1 是在Rewriter组件上自定义的一个节点，用于匹配二级域名-->
  <Rules1>
    <RewriterRule>
      <LookFor>http://(\w+)(\d+)*\.(\w+)(\d+)*\.(\w+)(\d+)*\/Default\.aspx</LookFor>
      <SendTo>~/Page/Default.aspx?pageid=$1</SendTo>
    </RewriterRule>   
  </Rules1>

  <!--<Rules2>
    <RewriterRule>
      <LookFor>[http://]?([\w-]+\.)+[\w-]+(/[\w- ./?%]*)?</LookFor>
      <SendTo>~/Page/Default.aspx?pageid=$1</SendTo>
    </RewriterRule>
  </Rules2>-->
  
  <Rules>   
    
    <RewriterRule>
      <LookFor>/Class_([\d]+)/Default.aspx</LookFor>
      <SendTo>~/ColumnList.aspx?NodeID=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/Class_([\d]+)/Default_([\d]+).aspx</LookFor>
      <SendTo><![CDATA[~/ColumnList.aspx?NodeID=$1&p=$2]]></SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/Item/([\d]+).aspx</LookFor>
      <SendTo>~/Content.aspx?ItemID=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/Item/([\d]+)_([\d]+).aspx</LookFor>
      <SendTo><![CDATA[~/Content.aspx?ItemID=$1&p=$2]]></SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/Class_([\d]+)/NodePage.aspx</LookFor>
      <SendTo>~/NodePage.aspx?NodeID=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/Class_([\d]+)/NodePage_([\d]+).aspx</LookFor>
      <SendTo><![CDATA[~/NodePage.aspx?NodeID=$1&p=$2]]></SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/Class_([\d]+)/NodeNews.aspx</LookFor>
      <SendTo>~/NodeNews.aspx?NodeID=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/Class_([\d]+)/NodeNews_([\d]+).aspx</LookFor>
      <SendTo><![CDATA[~/NodeNews.aspx?NodeID=$1&p=$2]]></SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/Class_([\d]+)/NodeHot.aspx</LookFor>
      <SendTo>~/NodeHot.aspx?NodeID=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/Class_([\d]+)/NodeHot_([\d]+).aspx</LookFor>
      <SendTo><![CDATA[~/NodeHot.aspx?NodeID=$1&p=$2]]></SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/Class_([\d]+)/NodeElite.aspx</LookFor>
      <SendTo>~/NodeElite.aspx?NodeID=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/Class_([\d]+)/NodeElite_([\d]+).aspx</LookFor>
      <SendTo><![CDATA[~/NodeElite.aspx?NodeID=$1&p=$2]]></SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/Special_([\d]+)/List.aspx</LookFor>
      <SendTo>~/SpecialList.aspx?SCateID=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/Special_([\d]+)/Default.aspx</LookFor>
      <SendTo>~/Special.aspx?SpecID=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/Shop/([\d]+).aspx</LookFor>
      <SendTo>~/Shop.aspx?ItemID=$1</SendTo>
    </RewriterRule> 
	  
   <RewriterRule>
      <LookFor>/Page_([\d]+)_([\d]+)/Pagelist.aspx</LookFor>
      <SendTo><![CDATA[~/Page/Pagelist.aspx?NodeID=$2&Pageid=$1]]></SendTo>
    </RewriterRule>
   <RewriterRule>
      <LookFor>/Page_([\d]+)_([\d]+)/Pagelist_([\d]+).aspx</LookFor>
      <SendTo><![CDATA[~/Page/Pagelist.aspx?NodeID=$2&Pageid=$1&p=$3]]></SendTo>
    </RewriterRule>
	<!-- <RewriterRule>
      <LookFor>/Page/Pagelist.aspx?NodeID=([\d]+)&Pageid=([\d]+)</LookFor>
      <SendTo>~/Page/Pagelist.aspx?NodeID=$1&Pageid=$2</SendTo>
    </RewriterRule>--> 
  </Rules>
</RewriterConfig>
