 /* CSS Document */
*{ padding:0;    margin: 0;}
body{ font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	font-size: 12px;}
input{	color: #A0A0A0;	font-size: 12px; padding-left:5px;}
select{color: #A0A0A0;	font-size: 12px;}
img{ border:none;}
ul,li{ list-style:none;}
.top85:hover{ background:url(images/button85.png) no-repeat; }
.top73:hover{ background:url(images/button73.png) no-repeat; }
.top56:hover{ background:url(images/button56.png) no-repeat; }
.top51:hover{ background:url(images/button51.png) no-repeat; }
.top49:hover{ background:url(images/button49.png) no-repeat; }
.top20:hover{ background:url(images/button20.png) no-repeat; }
.logo{ background:url(images/logobg.png) no-repeat; }
.zotop{ background:url(images/zotop.png) no-repeat; }
.zozo{ background:url(images/zozo.png) repeat-y; }
.zoboom{ background:url(images/zoboom.png) no-repeat; }
.gsmc{color: #264D73;	font-size: 12px;	font-weight: bold;}
.gsms{color: #264D73;	font-size: 12px;}
.bornone{border:none;background:#F1F4F5;}
.xtdh:hover{background:url(images/gphg.png) no-repeat;}

.xttopz{ background:url(images/xttopz.png) no-repeat; }
.xttopy{ background:url(images/xttopy.png) no-repeat; }
.xttopo{ background:url(images/xttopo.png) repeat-x; }
.zuoban{background:url(images/zuoban.png) repeat;}
.xttopzx{ background:url(images/xttopzx.png) no-repeat; }
.xttopyx{ background:url(images/xttopyx.png) no-repeat; }
.xttopox{ background:url(images/xttopox.png) repeat-x; }
.topdh{ background:url(images/21.png) repeat-x; }
.topdh24{ background:url(images/24.png) repeat-x; }
.topdh74{ background:url(images/74.png) repeat-x; }
.pgtopzy{ background:url(images/pgtopzy.png) repeat-x; }
.pgtopo{ background:url(images/pgtopo.png) repeat-x; color: #264D73;font-size: 12px;}
.menu_ans ul,.menu_ans li { padding:0; margin:0; list-style:none;}
.menu_ans li { width:32px; height:32px;}
.current { background:url(images/dhbg.png)  center no-repeat;}

.menu_rjdh ul{  padding:0; margin:0; list-style:none; }
.menu_rjdh li{float:left; width:100px; height:21px;}
.menu_rjdh li .rjdh{color:#264D73; text-decoration:none; display:block; width:100px; height:21px; line-height:24px; text-align:center; font-size:12px;}
.menu_rjdh li .rjdh:hover{background:url(images/fatrh.png)  center no-repeat;color: #264D73; font-size: 12px; font-weight:bold; text-align:center;}
.current100 { background:url(images/fatr.png)  center no-repeat;color: #264D73;font-size: 12px;font-weight: bold;text-decoration: none;}

.menu_rjdh74 ul{  padding:0; margin:0; list-style:none; }
.menu_rjdh74 li{float:left; width:74px; height:74px;}
.rjdh74 :hover{width:74px; height:74px; background:url(images/xzzxdhbg.png) no-repeat; }
.current74 { background:url(images/xzzxdhbg.png)  center no-repeat;}

.menu_sjxtzdh ul{  padding:0; margin:0; list-style:none; }
.menu_sjxtzdh li{width:24px; height:93px;}
.menu_sjxtzdh li .sjxtzdh{color:#264D73; text-decoration:none; display:block; width:20px; height:93px; line-height:12px;  font-size:12px; padding-top: 7px;padding-right: 0px;padding-bottom: 0px; text-align:center;}
.menu_sjxtzdh li .sjxtzdh:hover{color: #264D73; width:24px; height:93px; line-height:12px;font-size: 12px;font-weight:bold; }
.current93 { background:url(images/sjxtzdh.png) no-repeat ;color: #264D73;font-size: 12px;font-weight: bold;text-decoration: none;}
.menu_sjxtzdh57 ul{  padding:0; margin:0; list-style:none; }
.menu_sjxtzdh57 li{width:24px; height:57px;}
.menu_sjxtzdh57 li .sjxtzdh57{color:#264D73; text-decoration:none; display:block; width:19px; height:57px; line-height:12px;  font-size:12px;padding-left: 5px;padding-top: 7px;padding-right: 0px;padding-bottom: 0px;}
.menu_sjxtzdh57 li .sjxtzdh57:hover{color: #264D73; width:19px; height:57px; line-height:12px;font-size: 12px;font-weight:bold; }
.menu_sjxtzdh58 ul{  padding:0; margin:0; list-style:none; }
.menu_sjxtzdh58 li a{color:#264D73; text-decoration:none; display:block; width:19px; height:100px; line-height:12px;  font-size:12px;padding-left: 5px;padding-top: 7px;padding-right: 0px;padding-bottom: 0px;}
.menu_sjxtzdh58 li a:hover{color: #264D73; width:19px; height:100px; line-height:12px;font-size: 12px;font-weight:bold; }

current66 { background:url(images/sjxtzdh57.png) center no-repeat ;color: #264D73;font-size: 12px;font-weight: bold;text-decoration: none;}
.menu_tdbjuqr ul{  padding:0; margin:0; list-style:none; }
.menu_tdbjuqr li{float:left; width:47px; height:24px;}
.menu_tdbjuqr li .tdbjuqr{color:#264D73; text-decoration:none; display:block; width:47px; height:24px; line-height:26px; text-align:center; font-size:12px;padding-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;}
.menu_tdbjuqr li .tdbjuqr:hover{color: #264D73; width:47px; height:24px; line-height:26px;font-size: 12px;font-weight:bold; text-align:center;}
.current47 { background:url(images/hxdh.png)  center no-repeat;color: #264D73;font-size: 12px;font-weight: bold;text-decoration: none;}

.menu_rsxt ul{  padding:0; margin:0; list-style:none; }
.menu_rsxt li{float:left; width:57px; height:24px;}
.menu_rsxt li .rsxt{color:#264D73; text-decoration:none; display:block; width:57px; height:26px; line-height:26px; text-align:center; font-size:12px;padding-left: 1px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;}
.menu_rsxt li .rsxt:hover{color: #264D73; width:57px; height:24px; line-height:26px;font-size: 12px;font-weight:bold; text-align:center;}
.current57 { background:url(images/hxdh57.png)  center no-repeat;color: #264D73;font-size: 12px;font-weight: bold;text-decoration: none;}

.menu_zdjsbj ul{  padding:0; margin:0; list-style:none; }
.menu_zdjsbj li{float:left; width:85px; height:24px;}
.menu_zdjsbj li .zdjsbj{color:#264D73; text-decoration:none; display:block; width:85px; height:24px; line-height:26px; text-align:center; font-size:12px;padding-left: 1px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;}
.menu_zdjsbj li .zdjsbj:hover{color: #264D73; width:85px; height:24px; line-height:26px;font-size: 12px;font-weight:bold; text-align:center;}
.current79 { background:url(images/hxdh6.png)  center no-repeat;color: #264D73;font-size: 12px;font-weight: bold;text-decoration: none;}
.pttable2{	border-collapse:collapse;color: #264D73;width: 100%;}
.pttable2 td{border:1px solid #AFC0C7}
.pttable3{	border-collapse:collapse;	color: #264D73;}
.pttable3 td{border:0px solid #ffffff;}
.menu_xlzlnx ul{  padding:0; margin:0; list-style:none; }
.menu_xlzlnx li{width:100px; height:20px;}
.menu_xlzlnx li .xlzlnx{color:#264D73; text-decoration:none; display:block; width:100px; height:20px; line-height:22px;  font-size:12px; padding-top: 0px;padding-right: 0px;padding-bottom: 0px;}
.menu_xlzlnx li .xlzlnx:hover{color: #264D73; background:#D6DFE4; width:100px; height:20px; line-height:22px;}
.current140 { background: #ADC0C9 ;color: #264D73;width:100px; height:20px; line-height:22px; font-weight: bold;text-decoration: none;}

.menu_wddz ul{ padding:0; margin:0; list-style:none; }
.menu_wddz li{width:175px; height:20px;}
.menu_wddz li .wddz{color:#264D73; text-decoration:none; display:block; width:175px; height:20px; line-height:22px;  font-size:12px;}
.menu_wddz li .wddz:hover{color: #264D73; background:#D6DFE4; width:175px; height:20px; line-height:22px;font-size: 12px;}
.current180 { background: #ADC0C9 ;color: #264D73;width:175px; height:20px; line-height:22px;font-weight: bold;text-decoration: none;}

.menu_sjxtzdh83 ul{  padding:0; margin:0; list-style:none; }
.menu_sjxtzdh83 li{width:24px; height:83px;}
.menu_sjxtzdh83 li .sjxtzdh83{color:#264D73; text-decoration:none; display:block; width:20px; height:83px; line-height:12px;  font-size:12px; padding-top: 7px;padding-right: 0px;padding-bottom: 0px;}
.menu_sjxtzdh83 li .sjxtzdh83:hover{color: #264D73; width:24px; height:83px; line-height:12px;font-size: 12px;font-weight:bold; }
.current83 { background:url(images/sjxtzdh83.png) no-repeat ;color: #264D73;font-size: 12px;font-weight: bold;text-decoration: none;}


.textRig{ text-align:right;}
b{ color:Red;}
.border{border: 1px solid #9bbde6;background: #fff;}
.tdbgmouseover{	background: #E8F5FF;padding:2px;}
.tdbg{background: #fff;}
.sso{ background:url(images/sso.png); width:51px; height:20px; border:none; }
.x_input{ border:1px solid #8EC1EE; font-size:12px; }
.fx24{ background:url(images/fx24.png) repeat-x;}
.fx{ background:url(images/fx.png) repeat-x; }

/*弹出层*/
#TB_overlay {position: absolute;	top: 0;left: 0;	z-index:100;	width: 100%;	height: 100%;	background-color:#CCC;	}
#TB_window {top: 0px;	left: 0px;	position: fixed;	_position: absolute; 	z-index: 102;	color:#000000;	display:none;}
#TB_caption{height:25px;}
#TB_closeWindow{height:25px;	padding:10px 25px 10px 0;	float:right;}
#TB_closeAjaxWindow{	text-align:right; }
#TB_closeWindowButton{background:url(images/guanbi.png) no-repeat; display:block; width:11px; height:11px;float:right; position:absolute; right:8px; top:10px; }
#TB_closeWindowButton:hover{background:url(images/guanbih.png) no-repeat;}
#TB_ajaxContent{padding:2px;overflow:auto;}
#TB_load{	text-align: center;	position: absolute;	top: 50%;	left: 0px;	width: 100%;	overflow: visible;	visibility: visible;	display: block;	z-index:101;}
#TB_loadContent{	margin-left: -125px;position: absolute;	top: -50px;	left: 50%;	width: 250px;	height: 100px;	visibility: visible;}
.save_btn{ border:none; background:url(images/sxferhwe.png) no-repeat; width:48px; height:20px; cursor:pointer;} 
.del_btn{ border:none; background:url(images/sdgwhne.png) no-repeat; width:48px; height:20px;cursor:pointer;} 

/*开单*/
.kuanjiao{	border-left:1px solid #839DAB;	border-top:1px solid #839DAB;	border-right:1px solid #839DAB;	border-bottom:1px solid #839DAB;	background:#F1F4F5;	}
.kuanjiao1{	border-top:1px solid #839DAB;	border-right:1px solid #839DAB;	border-bottom:1px solid #839DAB;	background:#F1F4F5;	}	
.kuanjiao2{	border-left:1px solid #839DAB;	border-top:1px solid #839DAB;	border-bottom:1px solid #839DAB;	background:#F1F4F5;	}
.kuanjiao3{	border-left:1px solid #000;    border-right:1px solid #000;	}
.kuanjiao4{	border-top:1px solid #000;	border-left:1px solid #000;    border-right:1px solid #000;	}					
.top26{ background:url(images/26.png) repeat-x; }
.boom26{ background:url(images/boom26.png) repeat-x; }
.guanbi{	background:url(images/guanbi.png) center no-repeat;}
.guanbi:hover{background:url(images/guanbih.png) center no-repeat;}
.gsmc{	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	color: #264D73;	font-size: 12px;	font-weight: bold;}
.gsms{	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	color: #264D73;	font-size: 12px;	text-decoration: none;}
.gsms:hover{	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;	color: #264D73;	font-size: 12px;	text-decoration: none;}
.rgzbing{	background:url(images/rgzbing.png) center no-repeat;}
.A0A0A0{	height:14px;	color: #A0A0A0;	font-size: 12px;}
.ffffff{	height:14px;	color: #ffffff;	font-size: 12px;}
.ff3300{ color:#ff3300;}
.top20:hover{ background:url(images/button20.png) no-repeat; }
.top51:hover{ background:url(images/button51.png) no-repeat; }
.top85:hover{ background:url(images/button85.png) no-repeat; }
.top105:hover{ background:url(images/button105.png) no-repeat; }
.top120:hover{ background:url(images/button120.png) no-repeat; }
.top95{ background:url(images/zuanbimg.png) no-repeat; }
.top73:hover{ background:url(images/button73.png) no-repeat; }

.top56:hover{ background:url(images/button56.png) no-repeat; }
.top49:hover{ background:url(images/button49.png) no-repeat; }
.menu_rjdh230 ul{  padding:0; margin:0; list-style:none; }
.menu_rjdh230 li{float:left; width:113px; height:26px;}
.menu_rjdh230 li .rjdh230{color:#264D73; text-decoration:none; display:block; width:113px; height:26px; line-height:28px; text-align:center; font-size:12px;}
.menu_rjdh230 li .rjdh230:hover{	color: #264D73;	font-size: 12px;	font-weight:bold; text-align:center;}
.current110 { background:url(images/boom110.png)  repeat-x;color: #264D73;font-size: 12px;font-weight: bold;text-decoration: none;}
.report{	border-collapse:collapse;	color: #000;	font-family: "";	font-size: 16px;}
.report td{border:1px solid #000}
.report1{	color: #000;font-family: "";font-size: 16px;font-weight:bold;}
.cursor{cursor:pointer;}
.cursor:hover{ background:url(images/button72.png) no-repeat; }
.cursor49{cursor:pointer;}
.cursor49:hover{ background:url(images/button49.png) no-repeat; }
.report2{	border-collapse:collapse;	color: #000;	font-family:"" ;	font-size: 16px;}
.report2 td{border:1px solid #fff}

#logMain,#Regmain{ background:#FFF; border:1px solid #839DAB;}
.loginm{ width:420px; margin:auto;}
.butn{ cursor:pointer;}
#login_t h1,#reg_t h1{ font-size:24px; font-family:'黑体'; color:#264D73;}
#reg_t{height:65px; border-bottom:1px solid #DDD; text-align:center; line-height:65px;}
#main_l,#step1{ font-size:16px; color:#264D73; line-height:35px; }
.btn_blu{ border:none;background:url(images/btn_Icon.png) no-repeat; width:107px;height:32px;color:#F8F8F9; font-size:16px;}
.btn_gry{ border:none;background:url(images/btn_Icon.png) no-repeat 0 -33px; width:107px;height:32px; color:#4F5565;font-size:16px;}
.input_on,.input_off,.input_out{width:205px; height:23px;line-height:23px; border:1px solid #CCC; color:#264d73;}
.input_on{ border:1px solid #666;}
.text_on,.text_off,.text_out{color:#264d73;}
.input_yz{width:70px; height:23px;line-height:23px; border:1px solid #CCC;}
.add_btn{border-style: none;    border-color: inherit;    border-width: medium;    background: url('images/baocen.png') no-repeat;    color:#fff;}
#regist{ margin-top:10px;}

#menu_rjdh { height:25px;}
#menu_rjdh li{ float:left;}
.kuanjiao{	border-left:1px solid #839DAB;	border-top:1px solid #839DAB;	border-right:1px solid #839DAB;	border-bottom:1px solid #839DAB;	background:#F1F4F5;	}
.kuanjiao1{	border-top:1px solid #839DAB;	border-right:1px solid #839DAB;	border-bottom:1px solid #839DAB;	background:#F1F4F5;	}	
.kuanjiao2{	border-left:1px solid #839DAB;	border-top:1px solid #839DAB;	border-bottom:1px solid #839DAB;	background:#F1F4F5;	}		
.top26{ background:url(images/26.png) repeat-x; }
.boom26{ background:url(images/boom26.png) repeat-x; }
.guanbi{	background:url(images/guanbi.png) center no-repeat; cursor:pointer;}
.guanbi:hover{background:url(images/guanbih.png) center no-repeat;}
.gsmc{ 	color: #264D73;	font-size: 12px;	font-weight: bold;}
.gsms{ color: #264D73;	font-size: 12px;	text-decoration: none;}
.gsms:hover{ color: #264D73;	font-size: 12px;	text-decoration: none;}
.rgzbing{	background:url(images/rgzbing.png) center no-repeat;}  
.top20:hover{ background:url(images/button20.png) no-repeat; }
.top51:hover{ background:url(images/button51.png) no-repeat; }
.top85:hover{ background:url(images/button85.png) no-repeat; }
.top95{ background:url(images/zuanbimg.png) no-repeat; }
.top73:hover{ background:url(images/button73.png) no-repeat; }
.top56:hover{ background:url(images/button56.png) no-repeat; }
.top49:hover{ background:url(images/button49.png) no-repeat; }
.menu_rjdh230 ul{  padding:0; margin:0; list-style:none; }
.menu_rjdh230 li{float:left; width:113px; height:26px;}
.menu_rjdh230 li .rjdh230{color:#264D73; text-decoration:none; display:block; width:113px; height:26px; line-height:28px; text-align:center; font-size:12px;}
.menu_rjdh230 li .rjdh230:hover{ color: #264D73;	font-size: 12px;	font-weight:bold;	text-align:center;	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;}
.current110 { background:url(images/boom110.png)  repeat-x;color: #264D73;font-size: 12px;font-weight: bold;text-decoration: none;}

#menu { width:82px; height:20px; margin:0 auto; }
#menu ul { list-style: none; margin: 0px; padding: 0px; }
#menu ul li { float:left; margin-left:0px;}
#menu ul li a { display:block; width:82px; height:20px; line-height:20px; text-align:center; background:url(images/tjkh.png) 0 0 no-repeat; font-size:12px;  text-decoration: none;}
#menu ul li ul { border:1px solid #839DAB; display:none; position:absolute;}
#menu ul li ul li { float:none; width:80px; background:#EEF2F4; margin:0;}
#menu ul li ul li a { background:none;color: #264D73; text-decoration: none;}
#menu ul li ul li a:hover { width:80px; background:#73919D; font-weight: bold; color:#fff;}
#menu ul li:hover ul { display:block; }
#menu ul li.sfhover ul { display:block;}
 