<?xml version="1.0"?>
<Wapconfig>
  <IndexTemp>/index.html</IndexTemp>
  <ListTemp>/index.html</ListTemp>
  <ContentTemp>/index.html</ContentTemp>
</Wapconfig>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              