{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<link href="{$CssDir/}global.css" rel="stylesheet" type="text/css" /> 
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
</head>
<body>

 <script>
window.open('{$SiteURL/}/Class_245/Default.aspx?city={ZL.Label id="根据节点ID输出节点名称" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" /}',"_parent");
</script>
 </body>
</html> 
